SEPOLIA_RPC_URL=YOUR_SEPOLIA_RPC_URL
ETHERSCAN_API_KEY=YOUR_ETHERSCAN_API_KEY
BASE_TOKEN=BASE_TOKEN_ADDRESS_PRINTED_IN_CONSOLE
QUOTE_TOKEN=QUOTE_TOKEN_ADDRESS_PRINTED_IN_CONSOLE
OWNER=0xYOUR_WALLET_ADDRESS_SAME_AS_PRIVATE_KEY
TREASURY=0xANOTHER_WALLET_ADDRESS_COULD_BE_SAME_AS_OWNER
SOLVER=0xANOTHER_TESTING_WALLET_ADDRESS
EPOCH_DURATION=300
